.wrapper {
  display: flex;
  background: #3783c3;
  border-radius: 16px;
  overflow: hidden;
  max-width: 1280px;
  margin: auto;
  flex-wrap: wrap;
  margin: 5% 10%
}

.imageWrapper {
  flex: 1 1 50%;
}

.image {
  width: 100%;
  height: 100%;
}

.formWrapper {
  flex: 1 1 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.subheading {
  font-size: 1rem;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input,
.phoneInput,
.textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.phoneGroup {
  display: flex;
}

.countryCode {
  background: white;
  border-radius: 4px 0 0 4px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.phoneInput {
  border-radius: 0 4px 4px 0;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
}

.textarea {
  height: 100px;
  resize: none;
}

.submitBtn {
  background: white;
  color: #222;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.terms {
  font-size: 0.75rem;
  text-align: left;
  color: white;
}

.link {
  color: #eb595f;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .imageWrapper {
    flex: 1 1 100%;
  }
  .formWrapper {
    flex: 1 1 100%;
    padding: 1.5rem;
  }
}
.form input{
  background-color: white;
}
.form textarea{
  background-color: white;
}
.checkbox input{
    background-color: white;
    color:white
}